@import '_constants';
@import '_emoji';
@import '_template';

@import 'components/_chats';
@import 'components/_conversationHistory';
@import 'components/_header';
@import 'components/_replyBar';
@import 'components/_topBar';

@import 'components/_menuLeft';
@import 'components/_configurationScreen';
@import 'components/_smallMenu';
@import 'components/_swithcMobile';



* {
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
  background: $mainBackground;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/51/ed/c0/51edc046eb80046ee4755ee71d0f19ca.jpg);
  font-family: 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input[type="search"],
input[type="text"] {
  border: none;
  outline: none;
}

/* FIRST, THE OVERLAY ELEMENTS */

.alerts {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  padding: 10px;
  color: #666;
  border-radius: 4px;
  background: $mainBackground2;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
  display: none;
}

/* ----------------- */
/* MAIN APP ELEMENTS */
/* ----------------- */

.leftPanel {
  background: $mainBackground2;
  border-right: 1px solid $toolsButtonBck_hover;
}

.rightPanel {
  background: $profileMainColor;
}

@import 'media.scss';
