<!-- DARK FRAME OVERLAY -->
<section class="overlay" [@openClose]="menuService.isOverlay1 ? 'open' : 'closed'"
  (click)='menuService.triggerOverlay(1)'>
</section>

<section class="overlay2" [@openClose2]="menuService.isOverlay2 ? 'open' : 'closed'"
  (click)='menuService.triggerOverlay(2)'>
</section>
