<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Telegram Feedbcak System</title>
    <!--Meta-->
    <%- include('../partials/meta.ejs', { metaType: "login"})%>
    <!--Scripts-->
    <%- include('../partials/header.ejs'); %>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="section-empty text-center">
        <div class="container content">
            <div class="container">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1><span class="fa fa-sign-in"></span> Login</h1>
                    <hr class="space s" />
                    <hr class="space m" />
                    <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <% } %>

                    <!-- LOGIN FORM -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password">
                        </div>

                        <button type="submit" class="btn btn-warning btn-lg">Login</button>
                    </form>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs'); %>
</body>

</html>
