<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Telegram Feedbcak System</title>
    <!--Meta-->
    <%- include('../partials/meta.ejs');%>
    <!--Scripts-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--  My -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    </style>
</head>

<body>
    <%- include('../partials/cab_navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <form>
                    <div class="row">
                        <div class="col-md-10"><input type="text" class="form-control" id="token" placeholder="QIWI TOKEN" required></div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-8">
                        <button id='pay' type="button" class="btn btn-success" style="width:100%">Оплатить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="widows: 80%;">
        <div class="row" id="progressBar">
        </div>
        <div class="row">
            <div class="col-md-12 text-center box-middle">
                <div>
                    <hr class="space m" />
                    <p>
                        Всего к оплате:
                        <%= (user.all).toFixed(2) %> р.
                    </p>
                    <hr class="space m" />
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 100%" id='tableContainer'>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Qiwi</th>
                    <th scope="col">Ref</th>
                    <th scope="col">Date</th>
                    <th scope="col">D</th>
                    <th scope="col">E</th>
                    <th scope="col">F</th>
                </tr>
            </thead>
            <tbody id="mainTable">
                <% user.data.forEach( (item) => { %>
                <tr>
                    <th scope="row">
                        <%=item.n%>
                    </th>
                    <td>
                        <%=item.phone%>
                    </td>
                    <td>
                        <%=item.user%>
                    </td>
                    <td>
                        <%=item.date%>
                    </td>
                    <td>
                        <%=item.get1%>
                    </td>
                    <td>
                        <%=item.get2%>
                    </td>
                    <td>
                        <%=item.proc%>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<script>
var socket = io.connect();
$('#pay').on('click', function() {
    var token = document.getElementById('token').value
    if (token) {
        var regExp = new RegExp(/\w|:/g)
        if (regExp.test(token))
            socket.emit('payEvent', {
                token: token
            })
        else alert('Токен содержит недопустимые параметры')
    } else alert('Токен не введен')
})
socket.on('payEventStatus', function(data) {
    if (!data.status) alert(data.mes)
    else {
        if (data.mes) alert(data.mes)
        if (data.bar) document.getElementById('progressBar').innerHTML = data.bar
    }
})

</script>

</html>
