<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Telegram Feedbcak System</title>
    <!--Meta-->
    <%- include('../partials/meta.ejs');%>
    <!--Scripts-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--  My -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script> -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>.datepicker{z-index:1200 !important;}</style>
</head>

<body>
    <%- include('../partials/cab_navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form>
                    <div class="row">
                        <div class="col-lg-6"><input type="text" class="form-control" id="date" name="date" placeholder="Дата" required></div>
                        <div class="col-md-4"><input type="number" class="form-control" id="curs" name="curs" min="0" max="1000" value="66.89" placeholder="Курс рубля" required></div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <button id='pay' type="button" class="btn btn-success" style="width:100%">Оплатить</button>
                    </div>
                    <div class="input-group col-md-6">
                        <span class="input-group-addon"><input id = "checkbox" type="checkbox" checked="true"></span>
                        <button id='filter' type="button" class="form-control btn btn-default">Фильтровать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height: 100%" id='tableContainer'>
        <div class="col-md-12 text-center box-middle">
            <div>
                <hr class="space m" />
                <hr class="space m" />
                <p>
                    Тут пока пусто
                </p>
                <hr class="space m" />
            </div>
        </div>
    </div>
</body>
<script>
$(function() {
    $('#date').daterangepicker({
        // singleDatePicker: true,
        locale: {
            format: 'DD.MM.YYYY'
        }
    });
});

var socket = io.connect();

</script>
<script>
$('#filter').on('click', function() {
    var date = document.getElementById('date').value
    var curs = document.getElementById('curs').value
    var checkbox = document.getElementById('checkbox').checked
    if (!date || !curs) alert('Неверно введены данные')
    else {
        socket.emit('filter', {
            date: date,
            curs: curs,
            pay: checkbox
        })
    }
});

var dataToPay = []
socket.on('filterBack', (data) => {
    dataToPay = data.arr
    $('#tableContainer').html(data.html)
});

$('#pay').on('click', function() {
    if (dataToPay.length == 0) alert('Нет данных для оплаты')
    else {
        socket.emit('setSessionForPay', {
            data: dataToPay
        })
    }
});

socket.on('setSessionForPayBack', (data) => {
    window.location.href = "/pay"
    // window.open('/pay')
})

</script>

</html>
