<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Qiwi</th>
            <th scope="col">Ref</th>
            <th scope="col">Date</th>
            <th scope="col">D</th>
            <th scope="col">E</th>
            <th scope="col">F</th>
        </tr>
    </thead>
    <tbody id="mainTable">
        <% posts.forEach( (item) => { %>
        <tr>
            <th scope="row">
                <%=item.n%>
            </th>
            <td>
                <%=item.phone%>
            </td>
            <td>
                <%=item.user%>
            </td>
            <td>
                <%=item.date%>
            </td>
            <td>
                <%=item.get1%>
            </td>
            <td>
                <%=item.get2%>
            </td>
            <td>
                <%=item.proc%>
            </td>
        </tr>
        <% }) %>
    </tbody>
</table>
