.chats {
  width: 100%;
  height: calc(100vh - 70px);
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatButton {
  float: left;
  width: 100%;
  height: 80px;
  background: $mainBackground2;
  color: $toolsButtonClr_hover;
  cursor: pointer;
  overflow: hidden;
}

.chatButton:hover {
  color: $toolsButtonClr_hover;
  background: $navButtonBackground;
}

.chatInfo {
  float: left;
}

.chatInfo p {
  float: left;
}

.chatInfo .image {
  position: absolute;
  width: 55px;
  height: 55px;
  background: $toolsButtonBck_hover url(https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg) no-repeat center;
  background-size: cover;
  border-radius: 100%;
  margin: 13px 13px;
}

.chatInfo .my-image {
  background-image: url(https://www.anime-planet.com/images/characters/natsuki-minamiya-54423.jpg);
}

.chatInfo .name {
  float: left;
  font-weight: 600;
  margin-left: 80px;
  margin-top: 18px;
}

.chatInfo .message {
  float: left;
  clear: left;
  margin-left: 80px;
  margin-top: 7px;
}

.status {
  width: 60px;
  height: 100%;
  position: relative;
  float: right;
}

.status .fixed {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
}

div[class~="normal"]>.fixed {
  display: none;
}

div[class~="normal"]>.count {
  right: 10px;
  bottom: 7px;
}

.active {
  color: $mainBackground2;
  background: $mainBackground;
}

.active:hover {
  color: $mainBackground2;
  background: $mainBackground;
}

div[class~="onTop"]>.fixed {
  display: block;
  width: 24px;
  height: 24px;
  fill: $mainBackground2;
}

div[class~="onTop"]>.count {
  right: 49px;
  bottom: 7px;
  background: $mainBackground2;
  color: $mainBackground;
}

.status {
  .count {
    position: absolute;
    right: 49px;
    bottom: 7px;
    width: auto;
    height: auto;
    padding: 7px;
    border-radius: 20px;
    color: #222;
    background: rgba(0, 0, 0, 0.12);
  }
}

.status .date {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 12px;
}

.status .read {
  position: absolute;
  right: 53px;
  top: 6px;
}
