/* THE CONVERSATION HISTORY CSS */

.convHistory {
    float: left;
    position: relative;
    width: 100%;
    height: calc(100vh - 140px);
    background: #333;
    overflow-x: hidden;
    overflow-y: auto;
}

.userBg {
    background: url("https://images.unsplash.com/photo-1463058837219-41e13a132b7d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=") 100% center;
}

.msg {
    position: relative;
    width: auto;
    min-width: 100px;
    max-width: 45%;
    height: auto;
    padding: 25px;
    padding-bottom: 35px;
    margin: 20px 15px;
    margin-bottom: 0px;
    background: $mainBackground2;
    border-radius: 7px;
    clear: both;
}

.msg:nth-last-child(1) {
    margin-bottom: 20px;
}

.msg .timestamp {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 6px;
    color: #AAA;
    user-select: none;
}

.messageReceived {
    float: left;
    background: $mainBackground2;
}



.messageSent {
    float: right;
    background: #effdde;
}

.messageSent>.timestamp,
.messageSent>.readStatus {
    bottom: 10px;
    right: 40px;
    color: darkgreen;
    user-select: none;
}

.messageSent>.readStatus {
    position: absolute;
    bottom: 10px;
    right: 12px;
}
