header {
    width: 100%;
    height: 70px;
    background: $mainBackground2;
}

.trigger {
    float: left;
    width: 32px;
    height: 32px;
    margin: 20px 15px;
    margin-bottom: 0px;
    color: $checkBackground;
    cursor: pointer;
    opacity: 0.6;
    background: none;
}

.trigger:hover {
    opacity: 1;
}

.trigger>svg {
    width: 24px;
    height: 24px;
    fill: $toolsButtonColor;
}

.searchChats {
    width: calc(100% - 85px);
    height: 40px;
    background: $navButtonBackground;
    float: left;
    padding: 8px;
    margin-top: 14px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
}

.searchChats:focus {
    color: $confTitelColor;
    background: rgb(243, 243, 243);
}
