/* THE REPLY BAR CSS */

.replyBar {
    width: 100%;
    height: 70px;
    float: left;
    background: $mainBackground2;
}

.replyBar .attach {
    width: 70px;
    height: 70px;
    color: #777;
    background: $mainBackground2;
    float: left;
}

.replyBar .attach:hover {
    color: $toolsButtonClr_hover;
    background: $toolsButtonBck_hover;
}

.replyBar .d45 {
    transform: rotate(45deg);
    font-size: 32px;
}

.replyBar .replyMessage {
    width: calc(100% - 220px);
    float: left;
    height: 70px;
    padding: 0px 8px;
    font-size: 16px;
}

.replyBar .otherTools {
    float: right;
    width: 120px;
    height: 70px;
}



.emojiBar {
    display: none;
    position: absolute;
    width: 325px;
    height: 200px;
    padding: 10px;
    right: 30px;
    bottom: 80px;
    border: 2px solid $toolsButtonBck_hover;
    border-radius: 3px;
    background: $mainBackground2;
}

.emoticonType {
    width: 100%;
    height: 50px;
}

.emoticonType button {
    width: 105px;
    height: 36px;
    font-weight: 600;
    color: $toolsButtonClr_hover;
    background: none;
}

.emoticonType button:hover {
    color: $mainBackground2;
    background: $mainBackground;
}

.emojiList,
.stickerList {
    width: 100%;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.emojiList .pick {
    width: 50px;
    height: 50px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    transition: all 0.15s ease-in-out;
}

.emojiList .pick:hover {
    background: $toolsButtonBck_hover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.stickerList .pick {
    width: 80px;
    height: 80px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    transition: all 0.15s ease-in-out;
}

.stickerList .pick:hover {
    background: $toolsButtonBck_hover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
}


/* hidden, while not complete */
.stickerList {
    display: none;
}
