/* switch to mobile version screen */
.switchMobile {
    position: absolute;
    width: 65%;
    height: auto;
    padding: 10px;
    background: $mainBackground2;
    top: 75px;
    left: 0px;
    right: 0px;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
    display: none;
}

.switchMobile .title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.switchMobile .desc {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;
}

.switchMobile .okay {
    float: right;
    width: 80px;
    font-size: 16px;
    font-weight: 600;
    background: $mainBackground;
    color: $mainBackground2;
    border-radius: 4px;
    padding: 10px;
}
