.rightPanel .topBar {
    position: relative;
    width: 100%;
    height: 70px;
    background: $mainBackground2;
}

.rightSide {
    display: inline-block;
    clear: none;
    float: right;
    margin-right: 20px;
}

.tbButton,
.otherTools .toolButtons {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    background: $mainBackground2;
    color: $toolsButtonColor;
    border-radius: 100%;
}

.tbButton:hover,
.otherTools .toolButtons:hover {
    color: $toolsButtonClr_hover;
    background: $toolsButtonBck_hover;
}


.leftSide {
    display: inline-block;
    clear: none;
    float: left;
}

.leftSide .chatName {
    float: left;
    margin-left: 30px;
    margin-top: 13px;
    color: $confTitelColor;
    font-weight: 600;
    cursor: default;
}

.chatName>span {
    font-size: 12px;
    font-weight: 500;
    color: $checkBackground;
    margin-left: 10px;
}

.leftSide .chatStatus {
    float: left;
    clear: left;
    margin-left: 30px;
    margin-top: 5px;
    color: $mainBackground;
    font-weight: 300;
    cursor: default;
}
