<section class="config" [@openClose]="menuService.isConfig ? 'open' : 'closed'">
  <section class="configSect">
    <div class="profile">
      <p class="confTitle">Settings</p>

      <div class="image"></div>

      <div class="side">
        <p class="name">Random Name</p>
      </div>

      <button class="changePic">Change Profile Picture</button>
      <button class="edit">Edit Profile Info</button>
    </div>
  </section>



  <section class="configSect second">

    <!-- PROFILE INFO SECTION -->
    <p class="confTitle">Your Info</p>

    <div class="information">
      <ul>
        <li>User Email: <span class="blue email">vovlovik@dlit.dp.ua</span></li>
        <li>Poll cunt: <span class="blue username"></span>8</li>
        <li>Personal pool count: <span class="blue username"></span>0</li>
      </ul>
    </div>

    <!-- NOTIFICATIONS SECTION -->
    <p class="confTitle">Notifications</p>

    <div class="optionWrapper deskNotif">
      <input 
        type="checkbox"
        id="deskNotif"
        class="toggleTracer"
        [(ngModel)]="localStorageService.allowInternetConnection"
        (click)="messagesService.internetChanged()"
      >
      <label class="check deskNotif" for="deskNotif">
        <div class="tracer"></div>
      </label>
      <p>Allow internet connection</p>
    </div>

    <div class="optionWrapper deskNotif">
      <input type="checkbox" id="deskNotif" class="toggleTracer" checked>
      <label class="check deskNotif" for="deskNotif">
        <div class="tracer"></div>
      </label>
      <p>Enable Desktop Notifications</p>
    </div>

    <div class="optionWrapper showSName">
      <input type="checkbox" id="showSName" class="toggleTracer">

      <label class="check" for="showSName">
        <div class="tracer"></div>
      </label>
      <p>Show Sender Name</p>
    </div>

    <div class="optionWrapper showPreview">
      <input type="checkbox" id="showPreview" class="toggleTracer">

      <label class="check" for="showPreview">
        <div class="tracer"></div>
      </label>
      <p>Show Message Preview</p>
    </div>

    <div class="optionWrapper playSounds">
      <input type="checkbox" id="playSounds" class="toggleTracer">

      <label class="check" for="playSounds">
        <div class="tracer"></div>
      </label>
      <p>Play Sounds</p>
    </div>


    <p class="confTitle">Other Settings</p>

    <!--  -->
    <div class="optionWrapper mesNotif">
      <input type="checkbox" id="deskNotif" class="toggleTracer" checked>
      <label class="check deskNotif" for="deskNotif">
        <div class="tracer"></div>
      </label>
      <p>Income Message Notifications</p>
    </div>

    <div class="optionWrapper showSName">
      <input type="checkbox" id="showSName" class="toggleTracer">

      <label class="check" for="showSName">
        <div class="tracer"></div>
      </label>
      <p>Enable in hidden</p>
    </div>
    <!--  -->
    <div class="optionWrapper showPreview">
      <input type="checkbox" id="showPreview" class="toggleTracer">

      <label class="check" for="showPreview">
        <div class="tracer"></div>
      </label>
      <p>Show Unread Count</p>
    </div>

    <div class="optionWrapper playSounds">
      <input type="checkbox" id="playSounds" class="toggleTracer">

      <label class="check" for="playSounds">
        <div class="tracer"></div>
      </label>
      <p>Enable in hidden</p>
    </div>


  </section>
</section>
