/* configuration screen */
@import '_constants';

.config {
  position: absolute;
  width: 50%;
  height: 100vh;
  left: 25%;
  top: 0px;
  margin: auto;
  background: $toolsButtonBck_hover;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  z-index: 5;
  opacity: 1;
}

.confTitle {
  font-size: 24px;
  font-weight: 600;
  color: $confTitelColor;
  margin: 10px 0px 15px 0px;
}

.configSect {
  float: left;
  width: calc(100% - 60px);
  padding: 15px 30px;
  margin-bottom: 10px;
  background: $mainBackground2;
}

.profile .image {
  width: 140px;
  height: 140px;
  background: $mainBackground2 url(http://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg) no-repeat center;
  background-size: cover;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.side {
  width: auto;
  height: 110px;
  float: none;
  position: relative;
}

.side .name {
  font-size: 18px;
  font-weight: 600;
}

.side .pStatus {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

.profile .changePic,
.profile .edit {
  width: auto;
  font-size: 16px;
  font-weight: 600;
  background: $mainBackground;
  color: $mainBackground2;
  border-radius: 4px;
  padding: 10px;
}

.profile .edit {
  margin-left: 10px;
  background: $mainBackground2;
  color: $profileMainColor;
}

.profile .edit:hover {
  color: $mainBackground;
}

.second ul {
  float: none;
  margin-left: -7px;
  list-style-type: none;
}

.second ul li {
  margin: 7px;
}

.second .blue {
  color: $mainBackground
}

.second label {
  display: block;
  clear: both;
}

.second .information {
  margin-bottom: 30px;
}

.check {
  position: relative;
  float: left;
  display: block;
  width: 38px;
  height: 24px;
  background: $checkBackground;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.check>.tracer {
  width: 16px;
  height: 16px;
  background: $mainBackground2;
  float: left;
  margin: 4px;
  transition: all 0.2s ease-in-out;
}

#checkNight,
#deskNotif,
#showSName,
#showPreview,
#playSounds {
  display: none;
}

.toggleTracer:checked~.check {
  background: $mainBackground;
}

.toggleTracer:checked~.check>.tracer {
  margin-left: 18px;
}

.optionWrapper {
  display: block;
  width: 100%;
  height: 32px;
}

.optionWrapper p {
  float: left;
  margin-top: 3px;
  margin-left: 15px;
  font-size: 14px;
  color: $confTitelColor;
}

input[type="checkbox"] {
  margin: 7px;
  margin-right: 15px;
}
