<div class="msg" [class.messageSent]="msg.type === MsgType.Send"
  [class.messageReceived]="msg.type === MsgType.Received">
  {{msg.message}}
  <i class="material-icons readStatus" *ngIf="msg.type === MsgType.Send">
    <ng-container *ngIf="msg.readStatus === ReadStatus.done">done</ng-container>
    <ng-container *ngIf="msg.readStatus === ReadStatus.read">done_all</ng-container>
  </i>
  <span class="timestamp">{{msg.timeout}}</span>
</div>
