<header class="fixed-top scroll-change" data-menu-anima="fade-in">
    <div class="navbar navbar-default mega-menu-fullwidth" role="navigation">
        <div class="navbar navbar-main">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- <a class="navbar-brand" href="/"><img src="../images/logocc.png" alt="logo" /></a> -->
                </div>
                <div class="collapse navbar-collapse">
                    <div class="nav navbar-nav navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="" role="button"><%=user.name%> <span class="caret"></span></a></li>
                            <li><a href="/logout" role="button"> Выйти <span class="caret"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
