<footer class="footer-center footer-minimal">
    <div class="content">
        <div class="container">
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    <div class="col-md-12 copy-text">
                        <div class="tag-row">
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="../scripts/iconsmind/line-icons.min.css">
    <script src="../scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src='../scripts/jquery.tab-accordion.js'></script>
    <script src='../scripts/parallax.min.js'></script>
    <script src='../scripts/jquery.progress-counter.js'></script>
    <link rel="stylesheet" href='../css/animations.css'>
    <link rel="stylesheet" href="../scripts/iconsmind/line-icons.min.css">
    <script src="../scripts/imagesloaded.min.js"></script>
    <script src='../scripts/bootstrap/js/bootstrap.popover.min.js'></script>
    <script src='../scripts/flexslider/jquery.flexslider-min.js'></script>
    <script type="text/javascript" async src="../scripts/jquery.magnific-popup.min.js"></script>
    <script src='../scripts/smooth.scroll.min.js'></script>
</footer>
