<script src="../../../scripts/jquery.min.js"></script>
<link rel="stylesheet" href="../../../scripts/bootstrap/css/bootstrap.css">
<script src="../../../scripts/script.js"></script>
<link rel="stylesheet" href="../../../style.css">
<link rel="stylesheet" href="../../../scripts/flexslider/flexslider.css">
<link rel="stylesheet" href="../../../css/content-box.css">
<link rel="stylesheet" href="../../../css/components.css">
<link rel="icon" href="../images/logoicon.png">
<link rel="stylesheet" href="../../../skin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/animations.css">
<link rel="stylesheet" href='../css/content-box.css'>
<link rel="stylesheet" href='../scripts/magnific-popup.css'>
<link rel="stylesheet" href="../skin.css">
