
/* FACEBOOK - WALL */

.social-feed-fb .facebook-loading {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: url('../images/assets/loader.gif') no-repeat 50% 50%;
    position: absolute;
    top: 100px;
    left: 50%;
}

.social-feed-fb li {
    min-height: 52px;
    padding: 0 10px 10px 72px;
    display: none;
    position: relative;
    list-style-type: none;
        text-align: left;
}

.social-feed-fb .flex-control-paging li {
    display: inline-block;
    padding: 0;
}

.social-feed-fb ul.slides > li {
    padding: 0;
    height: 100% !important;
}

.fb-container {
    padding-left: 72px;
    text-align: left;
}

.social-feed-fb .slides .fb-container img {
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
}

.social-feed-fb ul.slides > li > .comment-list {
    display: none;
}

.social-feed-fb li .meta-header .avatar {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
}

.social-feed-fb.flexslider li .meta-header .avatar {
    top: 3px;
}

.social-feed-fb .flex-control-nav li {
    z-index: 9995;
    min-height: inherit;
}

.social-feed-fb .flex-direction-nav li.flex-nav-prev, .social-feed-fb .flex-direction-nav li.flex-nav-next {
    min-height: 0;
    padding: 0;
    display: list-item;
    position: static;
}

.social-feed-fb ul.slides > li > .meta-header .avatar {
    top: 0;
}

.social-feed-fb li .meta-header .author {
    font-weight: bold;
}

.social-feed-fb li .meta-header .date {
    font-size: 11px;
    margin-bottom: 10px;
}

.social-feed-fb li .message {
    margin-bottom: 16px;
}

.social-feed-fb li .story {
    font-style: italic;
    color: #666;
    margin-bottom: 16px;
}

.social-feed-fb li .media {
    color: #8a8a8a;
    margin: 10px 0;
}

    .social-feed-fb li .media .image {
        margin-right: 10px;
        float: left;
        position: relative;
        transform: translate3d(0,0,0);
    }

.social-feed-fb li.type-video .media .image:after {
    width: 44px;
    height: 44px;
    margin-top: -22px;
    margin-left: -22px;
    position: absolute;
    top: 50%;
    left: 50%;
    content: " ";
    pointer-events: none;
}

.social-feed-fb li .media .media-meta {
    float: left;
    display: table;
}

    .social-feed-fb li .media .media-meta .name {
        font-weight: bold;
    }

    .social-feed-fb li .media .media-meta .caption {
        font-style: italic;
    }

.social-feed-fb li .meta-footer {
    font-size: 11px;
    line-height: 16px;
    color: #a1a1a1;
    clear: both;
}

    .social-feed-fb li .meta-footer .seperator {
        padding: 0 4px;
    }

.social-feed-fb li ul.like-list {
    margin-top: 10px;
    display: none;
}

    .social-feed-fb li ul.like-list li.like {
        font-size: 11px;
        line-height: 16px;
        margin-top: 2px;
        border-top: none;
        background: #e0e0e0;
        display: block;
    }

        .social-feed-fb li ul.like-list li.like:first-child {
            margin-top: 0;
        }

.social-feed-fb li ul.comment-list {
    margin-top: 10px;
    border-top: 1px solid #EAEAEA;
    padding-left: 0;
}

    .social-feed-fb li ul.comment-list li.comment {
        font-size: 11px;
        line-height: 16px;
        margin-top: 2px;
        border-top: none;
        display: block;
    }

        .social-feed-fb li ul.comment-list li.comment:first-child {
            margin-top: 0;
        }

        .social-feed-fb li ul.comment-list li.comment .meta-header .author {
        }

        .social-feed-fb li ul.comment-list li.comment .meta-header .date {
        }

        .social-feed-fb li ul.comment-list li.comment .message {
            margin-bottom: 0;
        }

        .social-feed-fb li ul.comment-list li.comment .date {
            font-size: 9px;
            line-height: 16px;
            color: #a1a1a1;
        }

    .social-feed-fb li ul.comment-list li.read_more {
        min-height: 1px;
        font-size: 9px;
        line-height: 16px;
        color: #a1a1a1;
        padding: 0 10px 0 72px;
        margin: 5px 0 -5px 0;
        border-top: none;
        display: block;
    }

        .social-feed-fb li ul.comment-list li.read_more a {
            color: #a1a1a1;
        }

.social-feed-fb.no-comments ul.comment-list {
    display: none;
}

.social-feed-fb.flexslider {
    opacity: 0;
}
/* TWITTER - FEEDS */
.social-feed-tw ul.slides {
    padding: 0;
}

.social-feed-tw ul > li > a > img {
    max-width: 100% !important;
    width: 100% !important;
    margin-left: 0 !important;
}

.social-feed-tw ul.slides > li {
    list-style-type: none;
    margin-bottom: 0;
    position: relative;
    text-align: left;
}

.social-feed-tw ul.slides li > a {
    position: absolute;
    border-radius: 3px;
    overflow: hidden;
}

.social-feed-tw .tweets_txt {
    padding-left: 78px;
    min-height: 60px;
}

.social-feed-tw .tweets_time {
    font-size: 11px;
    display: block;
}

.social-feed-tw.flexslider .tweets_txt {
    padding-left: 60px;
    padding-right: 30px;
}

/* GLOBAL CSS */

.social-feed-fb li .media .image img, .social-feed-tw .tweets_media {
    max-width: 100% !important;
    height: auto;
    padding: 3px;
    border: 1px solid #DDD;
    border-radius: 6px;
    display: block;
    width: inherit !important;
}

    .social-feed-fb li .media .image img:hover, .social-feed-tw .tweets_media:hover {
        border-color: #337ab7;
    }
