<div class="chatButton" [class.active]="active">
  <div class="chatInfo">
    <div class="image my-image">
    </div>
    <p class="name">
      {{chat.name}}
    </p>

    <p class="message">{{chat.message}}</p>
  </div>

  <div class="status onTop">
    <p class="date">{{chat.date}}</p>
    <p class="count" *ngIf="chat.count > 0">{{chat.count}}</p>
    <i class="material-icons read">done_all</i>
    <svg class="fixed" viewBox="0 0 24 24" *ngIf="chat.fixed">
      <path d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" [attr.fill]="(active) ? null: 'orange'" />
    </svg>
  </div>
</div>
