@import '_constants';

.moreMenu {
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 10;
  padding: 10px;
  color: #666;
  border-radius: 0 0 0 4px;
  background: $mainBackground2;
  display: block;
  border-top: 1px solid $toolsButtonBck_hover;
}

.moreMenu .option {
  width: 150px;
  height: 50px;
  display: block;
  background: $mainBackground2;
  font-size: 14px;
  text-align: left;
  border-radius: 4px;
  padding-left: 10px;
}

.moreMenu .option:hover {
  background: $toolsButtonBck_hover;
}

.moreMenu .option:nth-last-child(1) {
  margin-top: 3px;
}
