<div class="topBar">
  <div class="rightSide">
    <button class="tbButton search">
      <i class="material-icons">&#xE8B6;</i>
    </button>
    <button class="tbButton otherOptions" (click)="toggle()">
      <i class="material-icons">more_vert</i>
    </button>
  </div>

  <div class="leftSide">
    <p class="chatName">Renan Mayrinck <span>@Grisson</span></p>
  </div>
</div>

<!-- CONVERSATION OPTIONS MENU -->
<div class="moreMenu" [@openClose]="isOpen ? 'open' : 'closed'">
  <button class="option about" [@openCloseChildren]="isOpen ? 'open' : 'closed'">Mark as unread</button>
  <button class="option block" [@openCloseChildren]="isOpen ? 'open' : 'closed'">Block User</button>
</div>
