/* side menu */
@import '_constants';

.menuWrap {
  display: block;
  z-index: 3;
  width: calc(23% + 1px);
  height: 100%;
  position: absolute;
  left: calc(-1*(23% + 1px));
  top: 0px;
}

.menu {
  height: 100%;
}

.menu {
  background: $mainBackground2;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

.info {
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 12px;
  color: #666;
}

.me {
  position: relative;
  width: calc(100% - 50px);
  height: 140px;
  background: $mainBackground;
  padding: 15px 25px;
  margin-bottom: 15px;

  .image {
    width: 70px;
    height: 70px;
    background: $mainBackground2 url(http://4.bp.blogspot.com/-BHhUazKytmw/VbCfWPqrOJI/AAAAAAAAB7c/qj6WVX3du-s/s1600/51b91bba5a3fd9b6c8b9c53bc0ab6c65.jpg) no-repeat center;
    background-size: cover;
    border-radius: 100%;
    cursor: pointer;
  }

  .settings {
    position: absolute;
    right: 20px;
    bottom: 65px;
    width: 40px;
    height: 40px;
    padding-top: 2px;
    color: $mainBackground2;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.15);


    &:hover {
      background: rgba(0, 0, 0, 0.35);
    }
  }

  .cloud {
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    color: $mainBackground2;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.09);
  }

  .cloud:hover {
    background: rgba(0, 0, 0, 0.35);
  }

  .myinfo {
    position: absolute;
    bottom: 15px;
    font-size: 14px;
    color: $mainBackground2;

    .name {
      font-weight: 600;
      margin-bottom: 5px;
    }

    .phone {
      font-weight: 300;
    }
  }
}

nav {
  float: left;
  width: 100%;
  height: auto;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;

  button {
    width: 100%;
    height: 45px;
    background: $mainBackground2;
    text-align: left;
    padding-left: 20px;
    color: #666;

    &:hover {
      background: $navButtonBackground;
    }

    >i {
      color: $profileMainColor;
      float: left;
    }

    >span {
      display: inline-block;
      margin-top: 5px;
      margin-left: 20px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
