<section class="menuWrap" [@openClose]="menuService.isOpen ? 'open' : 'closed'">
  <div class="menu">
    <div class="me userBg">
      <div class="image"></div>

      <div class="myinfo">
        <p class="name">Worker Name</p>
      </div>

      <button class="settings" (click)="menuService.configOn()">
        <i class="material-icons">settings</i>
      </button>
    </div>
    <nav>
      <button class="ng">
        <i class="material-icons">&#xE8D3;</i>

        <span>New Pool</span>
      </button>

      <button class="ng">
        <i class="material-icons">edit</i>

        <span>Manage Tag</span>
      </button>

      <button class="cn">
        <i class="material-icons">&#xE851;</i>

        <span>Add new Bot</span>
      </button>

      <button class="cl">
        <i class="material-icons">pie_chart</i>

        <span>Metrics</span>
      </button>

      <a href="https://support.FeetbackSystem.com" target="_blank">
        <button class="faq">
          <i class="material-icons">&#xE000;</i>

          <span>FAQ and Support</span>
        </button>
      </a>
      <a href="/logout">
        <button class="lo">
          <i class="material-icons">&#xE879;</i>

          <span>Logout</span>
        </button>
      </a>
    </nav>

    <div class="info">
      <p>Система сбора фидбека</p>
      <p>Сайт: <a href="https://FeetbackSystem.com">Link</a></p>
    </div>
  </div>
</section>
