$mainBackground: #419fd9;
$mainBackground2: #FFF;
$navButtonBackground: #EEE;
$profileMainColor:#999;
$checkBackground:#BBB;

$toolsButtonColor: #888;
$toolsButtonBck_hover:#DDD;
$toolsButtonClr_hover:#555;
$confTitelColor:#444;
