/* SOLVING RESPONSIVE DESIGN ISSUES */

@media screen and (max-width: 1180px) {
  .config {
    width: 60%;
  }
}

@media screen and (max-width: 980px) {
  .config {
    width: 90%;
  }
}

@media screen and (max-width: 840px) {
  .leftPanel {
    width: 40%;
  }

  .rightPanel {
    width: calc(60% - 1px);
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }

  .leftPanel {
    width: 45%;
  }

  .rightPanel {
    width: calc(55% - 1px);
  }

  .msg {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .leftPanel {
    width: 45%;
  }

  .rightPanel {
    width: calc(55% - 1px);
  }

  .msg {
    width: auto;
    max-width: 60%;
  }

  .profile .changePic,
  .profile .edit {
    font-size: 14px;
    font-weight: 500;
  }

  .profile .edit {
    margin-left: 5px;
  }
}

@media screen and (max-width: 540px) {
  .switchMobile {
    display: block;
  }

  .leftPanel,
  .rightPanel,
  .menuWrap,
  .config,
  .overlay {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .switchMobile {
    width: calc(220px - 20px);
  }
}
