.mainApp {
  display: grid;
  grid-template-areas:
    "leftPanel rightPanel";
  grid-template-columns: 1.2fr 4fr;
}

// .mainApp {
//     display: grid;
//     grid-template-areas:
//         "rightPanel leftPanel";
//     grid-template-columns: 4fr 1.2fr;
// }

.leftPanel {
  grid-area: leftPanel;
  display: block;
}

.rightPanel {
  grid-area: rightPanel;
}
