<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Telegram Feedbcak System</title>
    <!--Meta-->
    <%- include('../partials/header.ejs', ); %>
    <!--Scripts-->
    <%- include('../partials/header.ejs'); %>
</head>

<body>
    <%- include('../partials/navbar.ejs')%>
    <div class="section-empty">
        <div class="container content box-middle-container full-screen-size" data-sub-height="100">
            <div class="row">
                <div class="col-md-12 text-center box-middle">
                    <div>
                        <hr class="space m" />
                        <img src="../images/logocc.png" alt="logo">
                        <hr class="space m" />
                        <h1 class="text-xxl"><%= err %></h1>
                        <p>
                            <%= message %>
                        </p>
                        <hr class="space m" />
                        <a class="anima-button btn-sm btn" href="../login"><i class="im-left"></i>Go back to login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>
</body>

</html>
